* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    overflow-x: hidden;
    
    
    
    
  }
  .text{
    text-align: center;
    margin: 20px;
  }
  .area{
    padding: 1em;
    text-align: center;
  }

  form{
    margin: 20px;
  }

  .input {
    background-color: #a19999;
    width: 50%;
    height: 100px;
    padding: 10px;
    /* text-align: center; */
    border: 2px solid white;
    border-radius: 5px;
    /* box-shadow: 3px 3px 2px rgb(249, 255, 85); */
    padding: 20px;
    color: white;
    font-size: 15px;
  }
  
  .input::placeholder{
    color: white;
    font-size: 15px;
  }
  .input:focus {
    color: rgb(255, 255, 255);
    background-color: #b6abab;
    outline-color: rgb(0, 255, 255);
    box-shadow: -3px -3px 15px rgb(0, 255, 255);
    transition: .1s;
    transition-property: box-shadow;
  }

  .button{
    background-color: rgb(85, 240, 55);
    width: 30%;
    height: 50px;
    border-radius: 20px;
    border: 0.8px solid gray;
    transition: 0.5s;
  }

  .button:hover{
    background-color: transparent;
  }



  @media screen and (max-width: 768px){
    .input{
        height: 90px;
        width: 100%;
    }

    .button{
        width: 50%;
    }
  }